* {
	margin: 0;
	font-family: 'Cera Pro', 'Helvetica Neue', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #282c34;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: calc(2px + 2vmin);
}

@media (max-width: 750px) {
	* {
		font-size: calc(1px + 2vmin);
	}
}
